## Acesso aos dados

In [2]:
# Imports
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

In [ ]:
# Acessando nome das colunas
print(df.columns)

In [ ]:
# Acessando nome dos 5 primeiros
display(df.head(6))

In [ ]:
# Acessando nome dos 5 ultimos
display(df.tail(5))

In [ ]:
# Acessando colunas individuais
display(df['Nome'])

In [ ]:
# Acessando mais colunas individuais
display(df[['Nome', 'Tipo 1', 'Tipo 2']])

In [ ]:
# Acessando colunas com quantidade de dados
display(df[['Nome', 'Tipo 1', 'Tipo 2']][5:10])

In [ ]:
# Acessando linhas individuais
display(df.iloc[0:5])

In [ ]:
# Acessando linhas e colunas individuais
display(df.iloc[2, 1])

In [ ]:
# Busca pela coluna por 1 valor
df.loc[df['Tipo 1'] == 'Fogo'][:5]

In [ ]:
# Busca pela coluna por 2 valor
display(df.loc[(df['Tipo 1'] == 'Fogo') & (df['Tipo 2'] == 'Voador')])

In [1]:
# Acessando linhas por nome
for indice, linha in df.iterrows():
    print(indice, linha['Nome'])
    if linha['#'] == 150:
        break

NameError: name 'df' is not defined

In [87]:
# Valores estatístico básicos
display(df.describe())

,#,Vida,Ataque,Defensa,Atq Esp,Def Esp,Velocidade,Geracao
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

## Ordenação

In [5]:
# Imports
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

In [6]:
df_ordenado = df.sort_values('Tipo 1', ascending=True)
display(df_ordenado)

,#,Nome,Tipo 1,Tipo 2,Vida,Ataque,Defensa,Atq Esp,Def Esp,Velocidade,Geracao,Lendario
610,550,Basculin,Agua,NaN,70,92,65,80,55,98,5,False
93,86,Seel,Agua,NaN,65,45,55,45,70,45,1,False
562,503,Samurott,Agua,NaN,95,100,85,108,70,70,5,False
561,502,Dewott,Agua,NaN,75,75,60,83,60,60,5,False
560,501,Oshawott,Agua,NaN,55,55,45,63,45,45,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
501,451,Skorupi,Venenoso,Inseto,40,50,90,30,55,65,4,False
703,641,TornadusTherian Forme,Voador,NaN,79,100,80,110,90,121,5,True
790,714,Noibat,Voador,Dragao,40,30,35,45,40,55,6,False
791,715,Noivern,Voador,Dragao,85,70,80,97,80,123,6,False
702,641,TornadusIncarnate Forme,Voador,NaN,79,115,70,125,80,111,5,True

## Realizando Mudanças nos dados

In [47]:
# Imports
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
display(df)

,#,Nome,Tipo 1,Tipo 2,Vida,Ataque,Defensa,Atq Esp,Def Esp,Velocidade,Geracao,Lendario
0,1,Bulbasaur,Planta,Venenoso,45,49,49,65,65,45,1,False
1,2,Ivysaur,Planta,Venenoso,60,62,63,80,80,60,1,False
2,3,Venusaur,Planta,Venenoso,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Planta,Venenoso,80,100,123,122,120,80,1,False
4,4,Charmander,Fogo,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Pedra,Fada,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Pedra,Fada,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psiquico,Fantasma,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psiquico,Noturno,80,160,60,170,130,80,6,True
799,721,Volcanion,Fogo,Agua,80,110,120,130,90,70,6,True

In [11]:
df['Total'] = df['Vida'] + df['Ataque'] + df['Defensa'] + df['Atq Esp'] + df['Def Esp'] + df['Velocidade']
df

,#,Nome,Tipo 1,Tipo 2,Vida,Ataque,Defensa,Atq Esp,Def Esp,Velocidade,Geracao,Lendario,Total
0,1,Bulbasaur,Planta,Venenoso,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Planta,Venenoso,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Planta,Venenoso,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Planta,Venenoso,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fogo,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Pedra,Fada,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Pedra,Fada,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psiquico,Fantasma,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psiquico,Noturno,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fogo,Agua,80,110,120,130,90,70,6,True,600

In [48]:
df = df.drop(columns=['Total'])
df

KeyError: "['Total'] not found in axis"

In [49]:
# Forma alternativa para criar coluna total
df['Total'] = df.iloc[:,4:10].sum(axis=1)
display(df)

,#,Nome,Tipo 1,Tipo 2,Vida,Ataque,Defensa,Atq Esp,Def Esp,Velocidade,Geracao,Lendario,Total
0,1,Bulbasaur,Planta,Venenoso,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Planta,Venenoso,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Planta,Venenoso,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Planta,Venenoso,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fogo,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Pedra,Fada,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Pedra,Fada,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psiquico,Fantasma,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psiquico,Noturno,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fogo,Agua,80,110,120,130,90,70,6,True,600

In [50]:
# Renomeando
df.rename({'Defensa':'Defesa'}, axis=1, inplace=True)
df

,#,Nome,Tipo 1,Tipo 2,Vida,Ataque,Defesa,Atq Esp,Def Esp,Velocidade,Geracao,Lendario,Total
0,1,Bulbasaur,Planta,Venenoso,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Planta,Venenoso,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Planta,Venenoso,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Planta,Venenoso,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fogo,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Pedra,Fada,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Pedra,Fada,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psiquico,Fantasma,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psiquico,Noturno,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fogo,Agua,80,110,120,130,90,70,6,True,600

In [51]:
# Reordenar colunas
cols = list(df.columns.values)
df = df [cols[0:4] + [cols[-1]] + cols[5:12]]
display(df)

,#,Nome,Tipo 1,Tipo 2,Total,Ataque,Defesa,Atq Esp,Def Esp,Velocidade,Geracao,Lendario
0,1,Bulbasaur,Planta,Venenoso,318,49,49,65,65,45,1,False
1,2,Ivysaur,Planta,Venenoso,405,62,63,80,80,60,1,False
2,3,Venusaur,Planta,Venenoso,525,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Planta,Venenoso,625,100,123,122,120,80,1,False
4,4,Charmander,Fogo,NaN,309,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Pedra,Fada,600,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Pedra,Fada,700,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psiquico,Fantasma,600,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psiquico,Noturno,680,160,60,170,130,80,6,True
799,721,Volcanion,Fogo,Agua,600,110,120,130,90,70,6,True

In [58]:
# Salvar arquivos
# df.to_csv('Novo_CSV.csv')
df.to_csv('Novo_CSV.csv', index=False, sep=';')
# df.to_csv('Novo_CSV.txt', index=False, sep='\t')